/* CSS for ChiliPeppr Widget */

#com-chilipeppr-widget-spindlecontrol {
   
}

#com-chilipeppr-widget-spindlecontrol .nav-tabs>li>a {
    padding: 2px 6px;
}

#slidecontainer {
    width: 100%; /* Width of the outside container */
    padding-top: 5px;
}

.panel-body, .panel-heading {
    padding: 10px;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #2a9fd6; /* Blueish background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
#speedRO{
    opacity:0.7;
    font-style: oblique;
    /*font-size: small;*/
    padding-top: 5px;
    padding-bottom: 3px;
}
#curSpeedRO{
    font-style: oblique;
    font-size-adjust: auto;
     padding-top: 5px;
    padding-bottom: 1px;
}

.btn{
    height: auto;
    width: auto;
    
}
.btn-spindleOn-CCW{
    padding-left: 2px;
    margin-left: 3px;
}
   

td  {
    padding-top:1px;
    padding-bottom: 1px
}

p { 
    font-size: medium;
    padding-bottom: 0px;
}

ul {
    padding-top: 0px
}
